.hero__wrapper {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.hero {
    padding: 55rem 0 10rem;
}
.block {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}
.hero .text {
    margin-bottom: 5rem;
}
.cart__span {
    display: block;
    background-color: var(--third-brand-color);
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 50%;
    font-family: var(--title-font);
    font-size: 2rem;
    top: -1rem;
    right: -2rem;
    position: absolute;
}

.info__wrapper {
    background-color: var(--first-brand-color);
}
.info {
    padding: 10rem 0;
}
.info .list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info .item:not(:last-child) {
    position: relative;
    margin-bottom: 15rem;
}
.info .item:not(:last-child)::after {
    position: absolute;
    width: 10rem;
    height: 5rem;
    display: block;
    content: '';
    background-image: url('../img/arrow1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    bottom: calc(-100% - 5rem);
    left: 50%;
    transform: translate(-50%, 0) rotate(90deg);
}
.info .text {
    font-family: var(--main-title-font);
    color: var(--sub-text-color);
    text-transform: uppercase;
    font-size: 5rem;
}

.about__wrapper {
  background-image: url('../img/bg6.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about {
    padding: 80rem 0 0;
}
.about .sub-title {
    display: inline-block;
    padding: 2rem 3rem;
    font-size: 6rem;
    background-color: var(--main-bg-color);
    color: var(--first-brand-color);
}
@media screen and (min-width: 1024px) {
    .info .list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .info .item:not(:last-child) {
        margin-bottom: 0;
    }
    .info .item:not(:last-child)::after {
        left: auto;
        bottom: auto;
        right: -15rem;
        top: 50%;
        transform: translate(0, -50%);
    }
}